# --------------------
# OS / System files
# --------------------
.DS_Store
.DS_Store?
._*
Thumbs.db

# --------------------
# Python virtual environments
# --------------------
venv/
.env/
.venv/
env/
.env
.env.local

# --------------------
# Misc Files and Folders
# --------------------
useless_rn
*.mp3
*.mp4
package-lock.json
package.json
noteToSelf
*.m4a

# --------------------
# Python cache / compiled files
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# --------------------
# VS Code settings (optional)
# --------------------
.vscode/

# --------------------
# Logs & temp files
# --------------------
*.log
*.tmp
*.swp

# --------------------
# Environment / secrets
# --------------------
.env.local
.env.*.local

# --------------------
# Git
# --------------------
*.orig
node_modules
